.table {
  display: grid;
  grid-auto-flow: column;
}

.table .header {
  grid-row: 1;
}

.table span {
  overflow: hidden;
  text-align: center;
}

.chart {
  display: grid;
  grid-template-columns: max-content auto;
}

.chart .y-values {
  grid-column: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 12px;
}

.chart svg {
  grid-column: 2;
  height: 600px;
  border: black 2px solid;
}

.chart svg polyline {
  stroke-width: 1.5;
}

.chart line {
  stroke: #bbb;
  stroke-width: 1;
}

.color0 {
  background-color: #67bfc6;
  color: white;
}

.color-70 {
  background-color: #006fb2;
  color: white;
}

.color-50 {
  background-color: #2296ca;
  color: white;
}

.color-30 {
  background-color: #6fbfd9;
}

.color-10 {
  background-color: #a9d8ec;
}

.color10 {
  background-color: #febfa6;
}

.color30 {
  background-color: #ff8d6e;
}

.color50 {
  background-color: #f0484e;
  color: white;
}

.color70 {
  background-color: #bf0336;
  color: white;
}

.color1 {
  background-color: #f5d664;
}

.color20 {
  background-color: #f1b73c;
}

.color60 {
  background-color: #e79402;
}

.color120 {
  background-color: #da6500;
  color: white;
}

.color240 {
  background-color: #d23f00;
  color: white;
}

.color480 {
  background-color: #b61c00;
  color: white;
}

.color960 {
  background-color: #870202;
  color: white;
}
